In [34]:
import numpy as np
import pandas as pd

In [36]:
train = pd.read_csv("./data/train_clean.csv", encoding = "latin1")
train

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.50,Premium,F,VS2,61.5,58.0,7.32,7.34,4.51,9.588
1,1,2.01,Very Good,E,SI2,60.6,59.0,8.11,8.25,4.96,9.748
2,2,0.50,Ideal,E,SI1,61.6,57.0,5.13,5.09,3.15,7.255
3,3,0.25,Very Good,F,VVS2,61.6,57.0,4.05,4.08,2.50,6.450
4,4,0.52,Ideal,G,VS2,62.0,55.0,5.16,5.19,3.21,7.721
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,1.04,Very Good,I,SI2,59.6,57.0,6.60,6.62,3.94,8.190
40451,40451,0.51,Very Good,E,SI1,63.3,59.0,5.09,5.05,3.21,7.246
40452,40452,1.51,Ideal,H,VS2,62.6,57.0,7.37,7.33,4.60,9.277
40453,40453,2.02,Premium,H,VS2,61.3,60.0,8.16,8.11,4.99,9.680
40454,40454,0.50,Fair,F,VS2,55.8,60.0,5.31,5.27,2.95,7.154

In [37]:
clarity = {
    "IF": 8,
    "VVS1": 7,
    "VVS2": 6,
    "VS1": 5,
    "VS2": 4,
    "SI1": 3,
    "SI2": 2,
    "I1": 1
}

In [38]:
cut = {
    "Ideal": 5,
    "Premium": 4,
    "Very Good": 3,
    "Good": 2,
    "Fair": 1
}

In [39]:
color = {
    "D": 7,
    "E": 6,
    "F": 5,
    "G": 4,
    "H": 3,
    "I": 2,
    "J": 1
}

In [40]:
train["clarity"] = train.clarity.map(clarity)
train["cut"] = train.cut.map(cut)
train["color"] = train.color.map(color)

In [43]:
train.head()

   id  carat  cut  color  clarity  depth  table     x     y     z  price
0   0   1.50    4      5        4   61.5   58.0  7.32  7.34  4.51  9.588
1   1   2.01    3      6        2   60.6   59.0  8.11  8.25  4.96  9.748
2   2   0.50    5      6        3   61.6   57.0  5.13  5.09  3.15  7.255
3   3   0.25    3      5        6   61.6   57.0  4.05  4.08  2.50  6.450
4   4   0.52    5      4        4   62.0   55.0  5.16  5.19  3.21  7.721

In [44]:
train.drop("id", axis=1, inplace=True)

In [46]:
train.corr()

,carat,cut,color,clarity,depth,table,x,y,z,price
carat,1.000000,-0.134465,-0.289987,-0.350899,0.025089,0.182590,0.974516,0.950563,0.947930,0.920878
cut,-0.134465,1.000000,0.019047,0.190573,-0.211411,-0.434269,-0.125001,-0.121029,-0.147742,-0.087224
color,-0.289987,0.019047,1.000000,-0.027597,-0.043201,-0.028587,-0.269438,-0.263016,-0.265420,-0.154998
clarity,-0.350899,0.190573,-0.027597,1.000000,-0.062659,-0.162142,-0.370347,-0.356866,-0.363034,-0.212762
depth,0.025089,-0.211411,-0.043201,-0.062659,1.000000,-0.300152,-0.028389,-0.032561,0.091421,-0.000924
table,0.182590,-0.434269,-0.028587,-0.162142,-0.300152,1.000000,0.196031,0.184322,0.150142,0.158128
x,0.974516,-0.125001,-0.269438,-0.370347,-0.028389,0.196031,1.000000,0.973617,0.965597,0.957653
y,0.950563,-0.121029,-0.263016,-0.356866,-0.032561,0.184322,0.973617,1.000000,0.945958,0.934700
z,0.947930,-0.147742,-0.265420,-0.363034,0.091421,0.150142,0.965597,0.945958,1.000000,0.930157
price,0.920878,-0.087224,-0.154998,-0.212762,-0.000924,0.158128,0.957653,0.934700,0.930157,1.000000

In [50]:
train.to_csv("./data/train_clean.csv")

-----------------

In [66]:
test = pd.read_csv("./data/test.csv", encoding = "latin1")
test

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.51  Very Good     E     SI2   58.3   61.9  5.19  5.20  3.04
1          1   1.02  Very Good     F     SI2   63.0   58.0  6.37  6.43  4.03
2          2   0.59      Ideal     D     VS2   61.9   56.0  5.39  5.34  3.32
3          3   0.90  Very Good     D     VS2   62.3   56.0  6.14  6.18  3.84
4          4   2.01    Premium     J     VS1   60.2   61.0  8.23  8.16  4.93
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   1.05    Premium     H     SI1   61.9   58.0  6.50  6.45  4.01
13481  13481   0.32      Ideal     F     VS2   62.1   57.0  4.35  4.38  2.71
13482  13482   0.41    Premium     J     VS1   61.3   59.0  4.78  4.74  2.92
13483  13483   0.30    Premium     G    VVS2   62.2   59.0  4.31  4.28  2.67
13484  13484   0.72      Ideal     G    VVS2   61.3   56.0  5.76  5.80  3.54

[13485 rows x 10 columns]

In [67]:
test.drop("id", axis=1, inplace=True)

In [68]:
test["clarity"] = test.clarity.map(clarity)
test["cut"] = test.cut.map(cut)
test["color"] = test.color.map(color)

In [69]:
test.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   0.51    3      6        2   58.3   61.9  5.19  5.20  3.04
1   1.02    3      5        2   63.0   58.0  6.37  6.43  4.03
2   0.59    5      7        4   61.9   56.0  5.39  5.34  3.32
3   0.90    3      7        4   62.3   56.0  6.14  6.18  3.84
4   2.01    4      1        5   60.2   61.0  8.23  8.16  4.93

In [71]:
test.corr()

,carat,cut,color,clarity,depth,table,x,y,z
carat,1.000000,-0.136273,-0.295984,-0.358606,0.037544,0.178707,0.976818,0.955239,0.970140
cut,-0.136273,1.000000,0.025201,0.185138,-0.237781,-0.430894,-0.127057,-0.122569,-0.153958
color,-0.295984,0.025201,1.000000,-0.019851,-0.059597,-0.020155,-0.273044,-0.265536,-0.277046
clarity,-0.358606,0.185138,-0.019851,1.000000,-0.081397,-0.154977,-0.376931,-0.363135,-0.378920
depth,0.037544,-0.237781,-0.059597,-0.081397,1.000000,-0.282673,-0.016056,-0.019674,0.105586
table,0.178707,-0.430894,-0.020155,-0.154977,-0.282673,1.000000,0.193281,0.182060,0.153335
x,0.976818,-0.127057,-0.273044,-0.376931,-0.016056,0.193281,1.000000,0.977990,0.986672
y,0.955239,-0.122569,-0.265536,-0.363135,-0.019674,0.182060,0.977990,1.000000,0.970619
z,0.970140,-0.153958,-0.277046,-0.378920,0.105586,0.153335,0.986672,0.970619,1.000000

In [72]:
test.to_csv("./data/test_clean.csv")